# Python
*.pyc
*.pyo
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
/media/
/static/
*.pyc
*.pyo

# Secret key
secret_key.txt

# Development
*.sqlite3
*.db
*.sqlite

# Environment
.env

# VSCode
.vscode/
*.code-workspace

# Visual Studio
.vs/

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pyenv
.python-version

# pipenv
Pipfile.lock
