.form-section{
    position: absolute;
    top:calc(var(--nav-height)  + 1rem);
    right:-100%;
    // background-color: red;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    transition: all 1s ease-in-out;
}
.form-show{
    right:0%
}

// 
.show_form{
    display: none;
}
.show_form:checked + .form-section{
    right: 0%;
    background-color: red;
}
.main-header{
    min-height: 5rem;
    background-color: #e4e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header .header-form{
    margin-left: 1.5rem;height: 4rem; padding-top: 0.7rem; font-size: 2rem;
}
.closebtn {
    text-decoration: none;
    color: #000;
    font-size: 4rem;
    margin-right:1rem;
}
.container {
    max-width: 55rem;
    background-color: #fff;
    border-radius: 0.2rem;
    padding:1.3rem;
    overflow: auto;
    // margin: 0 1.5rem;
}
.container .form{
    height:calc(95vh - (var(--nav-height) + 5rem));
    padding: 0rem 1rem;
    // margin-top: 1.2rem;
    min-width: 30rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.accordion{
    margin: 2.5rem auto;
    width: 100%;
}
.accordion .list{
    width: 100%;
    /* margin: 1rem; */
    padding: 0.2rem;
    border-radius: 0.8rem;
    background: #fff;
}
.accordion .list #label1{
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}
.details::before{
    content: '+';
    margin-right: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    background: #4CAF50;
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80%;
    color: #fff;
}
.check_accord{
    display: none;
}

.accordion .contents{
    max-height: var(--from-height);
    padding: 0 0.8rem;
    line-height: 2rem;
    max-height: 0;
    overflow: auto;
}
.contents{
    max-height: var(--form-content-height);
    padding: 0 0.8rem;
    line-height: 2rem;
    overflow: auto;
    &::-webkit-scrollbar{
        width:1rem;
    }
}
.accordion .check_accord:checked + .details + .contents{
    max-height: 30rem;
    padding: 0.8rem 0.8rem 1.2rem;
}

.accordion .check_accord:checked + .details::before{
    content: '-';
}
.container .form .fields{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 0.8rem;
}

.form .fields .input-field{
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    flex: 1 1 calc(50% - 1rem);
    margin: 0.4rem 0;
}
@media (min-width: 768px) {
    .container form .fields .input-field {
        width: calc(33.33% - 1rem); /* Adjust width for three in a row */
    }
}

.input-field .form-input,.gender-list{
    outline: none;
    border: 0.1rem solid #aaa;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: hsl(0, 4%, 5%);
    padding: 0 1.5rem;
    height: 3.4rem;
    margin: 0.6rem 0
}
.text-field{
    outline: none;
    border: 0.1rem solid #aaa;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: hsl(0, 4%, 5%);
    padding: 0 1.5rem;
    height:auto;
    margin: 0.6rem 0
}
.input-field .labels{
    font-size: 1.2rem;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field .labels span{
    color: red;
}
.radio-label{
    margin-right: 33%;margin-top: 0.5%;padding-left: 2rem;
}
.input-field .form-input:focus,
.input-field .gender-list:focus,.text-field:focus,.radio_btn:focus {
    box-shadow: 0 0 0.5rem rgba(81, 203, 238, 1); 
    border-color: rgba(81, 203, 238, 1); 
}

.input-field .form-input[type="date"]{
    color: #707070;
}
.input-field .form-input[type="file"]{
    padding-top: 2%;
}
.input-field .form-input[type="date"]:valid{
    color: #333;
}
.file-info{
    color:red;font-size:1rem;margin-left:24rem;
}
.sticky{
    width: 100%;
    // background-color: red;
    min-height: 5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.6rem;
}
.upload{
    min-height: 35rem;
}

.form #student_img {
    height: 5rem;
    width: 5rem;
    margin: 1.5rem;
}
.img-field{
    text-align: center; padding-top: 5rem;
}
.addfile{
    padding-left: 1rem; text-align: center;font-size: 1.2rem;
}
.addfile input{
    display: none;
}
.addfile .sp1{
    text-decoration: underline; color: #ec1767; font-size: 15px;
}
.input-box{
    margin: 1.5rem;
}
.files{
    padding-top: 1rem;
}