.my-1{
    margin:0rem 1rem;
}
.my-2{
    margin:0rem 2rem;
}
.my-3{
    margin:0rem 3rem;
}
.my-4{
    margin:0rem 4rem;
}
.mx-1{
    margin:0rem 1rem;
}
.mx-2{
    margin:0rem 2rem;
}
.mx-3{
    margin:0rem 3rem;
}
.mx-4{
    margin:0rem 4rem;
}
// font
.f-small{
    font-size:.5rem;
}
.f-1{
    font-size:1rem;
}
.f-2{
    font-size:2rem;
}
.f-3{
    font-size:3rem;
}
.f-4{
    font-size:4rem;
}
.f-5{
    font-size:5rem;
}

