.dropdown{
    z-index: 1000;
    display: none;
    position:absolute;
    top:calc(var( --nav-height) + calc(var(--nav-height) / 10));
    right: 1rem;
    min-width:18rem;
    border-radius: .5rem;
    background-color:var(--side-nav-color);
    transition: all .5s ease-in-out;
    &__list{
        list-style: none;
        & li{
            padding: .6rem;
            &:hover{
                background-color:rgba(grey,0.7%);
            }
            &:not(:last-child){
                margin:.5rem 0rem;
            }
        }
    }
    &__item{
        text-decoration: none;
        font-size:1.7rem;
        color: #ffff;
    }
    & .card{
        display: flex;
        align-items: center;
        padding: 1rem;
        border-bottom:1px solid white;
        &__img{
            height: 6rem;
            width:6rem;
            background-color:rgba(grey,0.7%,);
            padding: 1rem;
            border-radius: 50%;
        }
        &__body{
            margin-left: 1.5rem;
        }
        &__title{
            text-transform: capitalize;
            font-size:2rem;
            color: whitesmoke;
        }
        &__text{
            font-size:1.5rem;
            color: whitesmoke;
        }
    }
}
.check{
    display: none;
}
.check:checked ~ .dropdown {
    display: block;
}

