.navbar {
    height: var(--nav-height);
    display: flex;
    align-items: center;
    background-color:var(--nav-color);
    padding:2.5rem 0rem;
    position:sticky;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    &__logo {
        $logo-area: 5rem;
        height: $logo-area;
        margin-left: 2rem;
        // background-color: red;
    }

    &__article {
        display: flex;
        &--1{
            // background-color: aqua;
            & div{
                margin-left: 10rem;
            }
        }
        &--2{
            margin-left: auto; 
            justify-content: space-between;
            align-items: center;
            position: relative;
            // background-color: red;
        }
    }
}
.userlogo{
    $user-area:3.6rem;
    width:$user-area;
}
.nav {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;

    &__link {
        margin-right: 2rem;
        color: black;
        text-decoration: none;
        font-size: 1.8rem;
        &--1{
            background-color:grey;
            border-radius: 50%;
        }
        &--3{
            font-size: 3rem;
        }
    }
}
.institution-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    & > *{
        margin:0rem 1rem;
    }
    &__title{
        font-size:1.5rem;
    }
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        margin-top: 1rem;
        &__link {
            margin: 0;
            margin-bottom: 1rem;
        }
    }
}
