// main tag in html
.project-main{
    display: flex;
    min-height:calc(100vh - var(--nav-height));
}
// side navigation 
.sidenav{
    flex: 1 0 var(--side-nav-width);
    background-color:var( --side-nav-color);
    // max-height:calc(100vh - var(--nav-height));
}
// for other pages area
.main-body{
    flex:1 0 calc(100% - var(--side-nav-width));
    // background-color: aqua;
    max-height:calc(100vh - var(--nav-height));
    overflow:auto;
    &::-webkit-scrollbar{
        width:.2rem;
    }
}
// side navigations style
.side-nav{
    list-style: none;
    &__item{
        // background-color: whitesmoke;
        padding:1rem 0rem;
        &:not(:first-child){
            margin:1rem 0rem;
        }
        &:hover{
            background-color: var(--side-nav-hover);
        }
    }
    &__link{
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 200;
        margin-left:.5rem;
        color: #ffff;
        & i{
            margin:0rem .7rem;
            // background-color: aquamarine;
        }
    }
}
@media only screen and (min-width: 1700px) {
    /* main tag in html */
    .project-main {
        display: flex;
        // background-color: red;
        min-height: calc(100vh - var(--nav-height));
    }

    /* side navigation */
    .sidenav {
        flex: 1 0 var(--large_screen-side-nav);
        background-color:var( --side-nav-color);
    }

    /* for other pages area */
    .main-body {
        flex: 1 0 calc(100% - var(--large_screen-side-nav));
        // background-color: aqua;
    }
    .side-nav{
        &__link{
            font-size:2rem;
        }
    }
}