{% extends "index.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}
    <article class="table">
        <div class="table__btns">
            <button class="btn btn--create" onclick="openForm()">Transaction</button>
            <button class="btn btn--create">Adjustment</button>
            <section class="form-section">
                <div class="main-header">
                    <h1 class="header-form">Add Transaction</h1>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeTransaction()">&times;</a>
                </div>
                <div class="container">
                    {% comment %} form started {% endcomment %}
                    <form id="transactionForm" method="POST" enctype="multipart/formdata" action="#" class="form">
                        <input type="hidden" name="id" id="id">
                        <div class="contents" id="form-field">
                            <div class="fields">
                                <div class="input-field">
                                    <label class="labels">Date <span>*</span></label>
                                    <input class="form-input" type="date" id="transaction_date" name="transaction_date"
                                        placeholder="Enter Date of Payment" required>
                                </div>
    
                                <div class="input-field">
                                    <label class="labels">Type <span>*</span></label>
                                    <select name="transaction_type" id="transaction_type" class="gender-list" required>
                                        <option value="" selected disabled> Select</option>
                                        <option value="Fees Collection"> Fees Collection</option>
                                        <option value="Salary"> Salary</option>
                                        <option value="Expenditure"> Expenditure</option>
                                        <option value="Other Credit"> Other Credit</option>
                                        <option value="Other Debit"> Other Debit</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="fields">
                                <div class="input-field">
                                    <label class="labels">Particular <span>*</span></label>
                                    <input class="form-input" type="text" id="particular_name" name="particular_name"
                                        placeholder="Enter Particular" required>
                                </div>
                            </div>
    
                            <div class="fields">
                                <div class="input-field">
                                    <label class="labels">Description</label>
                                    <textarea class="text-field" name="description" id="description" rows="5"
                                        placeholder="Enter Description" required></textarea>
                                </div>
                            </div>
    
                            <div class="fields">
                                <div class="input-field">
                                    <label class="labels">Payment Type <span>*</span></label>
                                    <div style="display: flex;padding-top: 1rem;">
                                        <input class="radio_btn" type="radio" id="payment_type" name="payment_type"
                                            value="Credit">
                                        <label for="Credit" class="radio-label">Credit</label>
                                        <input class="radio_btn" type="radio" id="payment_type" name="payment_type"
                                            value="Debit">
                                        <label for="Debit" class="radio-label">Debit</label>
                                    </div>
                                </div>
                            </div>
    
                            <div class="fields">
                                <div class="input-field">
                                    <label class="labels">Amount Debit<span>*</span></label>
                                    <input type="text" class="form-input" name="transaction_amount_debit"
                                        id="transaction_amount_debit" placeholder="Enter Amount" required>
                                </div>
    
                                <div class="input-field">
                                    <label class="labels">Amount Credit<span>*</span></label>
                                    <input type="text" class="form-input" name="transaction_amount_credit"
                                        id="transaction_amount_credit" placeholder="Enter Amount" required>
                                </div>
    
                                <div class="input-field">
                                    <label class="labels">Balance <span>*</span></label>
                                    <input type="text" class="form-input" name="net_balance" id="net_balance"
                                        placeholder="Net Balance">
                                </div>
                            </div>
    
                            <div class="fields">
                                <div class="input-field">
                                    <label class="labels">Transaction Id <span>*</span></label>
                                    <input class="form-input" type="text" name="transaction_id" id="transaction_id"
                                        placeholder="Enter Unique Transaction Id" required>
                                </div>
                            </div>
    
                            <div class="fields">
                                <div class="input-field">
                                    <label class="labels">Payment Mode <span>*</span></label>
    
                                    <select name="payment_mode" id="payment_mode" class="gender-list" required>
                                        <option value="" selected disabled> Select</option>
                                        <option value="Cash">Cash</option>
                                        <option value="UPI">UPI</option>
                                        <option value="Net Banking - NEFT">Net Banking - NEFT</option>
                                        <option value="Net Banking - IMPS">Net Banking - IMPS</option>
                                        <option value="Net Banking - RTGS">Net Banking - RTGS</option>
                                        <option value="Cheque">Cheque</option>
                                        <option value="Demand Draft">Demand Draft</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="fields">
                                <div class="input-field">
                                    <label class="labels">Payment Reference <span>*</span></label>
                                    <input class="form-input" type="text" name="payment_reference" id="payment_reference"
                                        placeholder="Enter Payment Reference Number" required>
                                </div>
                            </div>
                        </div>
                        <div class="sticky">
                            <a onclick="closeTransaction()" class="btn btn--cancel"><span>Cancel</span></a>
                            <button type="submit" class="btn btn--save"><span>Save</span></button>
                        </div>
                    </form>
                    {% comment %} form End {% endcomment %}
                </div>
            </section>
        </div>
        {% comment %} table {% endcomment %}
        <table class="tbl">
            <tr>
                <th>S.No</th>
                <th>particular_name</th>
                <th>transaction_amount_credit</th>
                <th>transaction_date</th>
                <th>payment_mode</th>
                <th>transaction_type</th>
                <th>transaction_amount_debit</th>
                <th>payment_reference</th>
                <th>net_balance</th>
                <th>Action</th>
            </tr>
            <tbody class="tbl__bdy">
                {% for ind in data %}
                <tr class="tr-account-{{ind.id}}">
                    <td class="">{{forloop.counter}}</td>
                    <td class="particular_name">{{ind.particular_name}}</td>
                    <td class="transaction_amount_credit">{{ind.transaction_amount_credit}}</td>
                    <td class="transaction_date">{{ind.transaction_date}}</td>
                    <td class="payment_mode">{{ind.payment_mode}}</td>
                    <td class="transaction_type">{{ind.transaction_type}}</td>
                    <td class="transaction_amount_debit">{{ind.transaction_amount_debit}}</td>
                    <td class="payment_reference">{{ind.payment_reference}}</td>
                    <td class="net_balance">{{ind.net_balance}}</td>
                    <td>
                        <a href="#" onclick="EditButton(this)" data-id="{{ind.id}}">
                            <i class="fa-sharp fa-solid fa-pen"></i>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}
{% block js %}
    <script>
        let closeTransaction =()=>{
            console.log("done");
            document.querySelector(".form-section").classList.remove("form-show")
        }
        let openForm =()=>{
            document.querySelector(".form-section").classList.add("form-show")
        }
        let isEditMode = false;
        //  Create for accounts 
        document.getElementById('transactionForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(document.getElementById('transactionForm'));
        const data = {
            "id" : formData.get("id"),
            "transaction_date": formData.get("transaction_date"),
            "transaction_type": formData.get("transaction_type"),
            "payment_mode": formData.get("payment_mode"),
            "particular_name": formData.get("particular_name"),
            "transaction_amount_debit": Number(formData.get("transaction_amount_debit")),
            "transaction_amount_credit": Number(formData.get("transaction_amount_credit")),
            "description": formData.get("description"),
            "transaction_id": formData.get("transaction_id"),
            "payment_reference": formData.get("payment_reference"),
            "net_balance": Number(formData.get("net_balance"))
        };
        // const url = "http://127.0.0.1:8000/";
        const url = isEditMode ? `http://127.0.0.1:8000/Accounts/${data.id}` : 'http://127.0.0.1:8000/Accounts/';
        const method = isEditMode ? 'PUT' : 'POST';
        fetch(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok.');
            }
            return response.json();
        })
        .then(data => {
            if (isEditMode){ 
                const updateData = data["response"]
                for (const key in updateData) {
                    try{
                        tr.querySelector(`.${key}`).textContent = updateData[key]
                    }
                    catch{

                    }
                }

            }
            else{
                console.log("im in else");
                const tableBody = document.querySelector('.tbl__bdy');
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td>${tableBody.children.length + 1}</td>
                    <td>${data.particular_name}</td>
                    <td>${data.transaction_amount_credit}</td>
                    <td>${data.transaction_date}</td>
                    <td>${data.payment_mode}</td>
                    <td>${data.transaction_type}</td>
                    <td>${data.transaction_amount_debit}</td>
                    <td>${data.payment_reference}</td>
                    <td>${data.net_balance}</td>
                    <td>
                        <a href="#" onclick="EditButton(this)" data-id="{{ind.id}}">
                            <i class="fa-sharp fa-solid fa-pen"></i>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                `;
                tableBody.appendChild(newRow);
                document.getElementById('transactionForm').reset();
                isEditMode = false;    
                closeTransaction();
            }
        })
        .catch(error => {
            console.log('Upgrade error:', error); 
        });
    });
    //Getting data for accounts
    function EditButton(element){
        event.preventDefault();
        console.log("inside button click");
        const id = element.getAttribute('data-id');
        console.log(" each id", id)
        const url = `http://127.0.0.1:8000/Accounts/${id}`;
        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok.');
            }
            return response.json();
        })
        .then(data => {
            openForm(data);
            document.getElementById("id").value = data.id;
            document.getElementById("transaction_date").value = data.transaction_date;
            document.getElementById("transaction_type").value = data.transaction_type;
            document.getElementById("payment_mode").value = data.payment_mode;
            document.getElementById("particular_name").value = data.particular_name;
            document.getElementById("transaction_amount_debit").value = data.transaction_amount_debit;
            document.getElementById("transaction_amount_credit").value = data.transaction_amount_credit;
            document.getElementById("description").value = data.description;
            document.getElementById("transaction_id").value = data.transaction_id;
            document.getElementById("payment_reference").value = data.payment_reference;
            document.getElementById("net_balance").value = data.net_balance;
            isEditMode = true;
        })
        .catch(error => {
            console.log('Fetch error:', error);
        });
    }
    </script>
{% endblock js %}




