{% extends "index.html" %}
{% load static %}
{% block css %}
<title>Classes</title>
{% endblock css %}
{% block content %}

<div class="student_head">
    <div>
        <p class="heading__primary heading__primary--animation">Classes Management</p>
    </div>
    <div>
        <button class="btn btn--create" onclick="openForm()"><i class="fa-solid fa-circle-plus"></i> Add Class</button>

    </div>
</div>
<section class="form-section">
    <div class="main-header">
        <h1 class="header-form">Add Class</h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    </div>
    <div class="container">
        <form id="AddClass" name="form" class="form" action="#" method="post" enctype="multipart/form-data">
           {% csrf_token %}
            <div class="contents" id="form-field">
                <div class="fields">
                    <div class="input-field">
                        <input class="form-input" type="hidden" name="class_id" id="class_id">
                        <label class="labels">Class <span>*</span></label>
                        <input class="form-input" type="text" id="class_name" name="class_name" placeholder="Enter Class Name" required minlength="3">
                    </div>
                    
                </div>
                </div> 
                <div class="sticky">
                    <a onclick="closeNav()" class="btn btn--cancel"><label>Cancel</label> </a>
                    <button class="btn btn--save">Save</button>   
                  </div>
        </form>
     </div> 
</section>


<div class="main-content">
    {% for data in class_data %}
    <div class="card-content" id="class-id-{{data.class_id}}">
        <h1 class="class-name">
            <a href="{% url 'classinfo' data.slug %}">{{data.class_name}}
            {% comment %} <i class="fa-solid fa-book-open-reader" id="classicon"></i> {% endcomment %}
        </a>
        </h1>
        <div class="sub-items">
            {% comment %} <h4>{{data.sections_count}}</h4>
            <h4>Section</h4>

            <h4>{{data.students_count}}</h4>
            <h4>Students</h4>  {% endcomment %}
            {% comment %} <a href="{% url 'classinfo' %}" class="btn btn--show"><label class="details-label">Show Details</label> </a> {% endcomment %}
          <img src="{% static 'img/teacher.png' %}" class="Classimg">
        </div>
        <div class="action-btn">
            <a href="#" onclick="EditClass(this)" data-class-id={{data.class_id}}>
                <i class="fas fa-edit EditClass"></i></a>
            <a href="#" onclick="DeleteClass(this)" data-class-id={{data.class_id}}>
                <i class="fa-solid fa-trash DeleteClass"></i></a>
        </div>
    </div>
        {% endfor %}
</div>
<script>
    // Function to close the form section
    function closeNav() {
        console.log("done");
        document.querySelector(".form-section").classList.remove("form-show");
    }

    // Function to open the form section
    function openForm() {
        document.querySelector(".form-section").classList.add("form-show");
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    let isEditMode = false;

    document.getElementById('AddClass').addEventListener('submit', function(event) {
    event.preventDefault();
   
    const formData = new FormData(document.getElementById('AddClass'));
    const data = {
        "institute_id":1,
        "class_id" : formData.get("class_id"),
        "class_name" : formData.get("class_name"),
        "slug":'class-8',
        "is_deleted":false,
    };

    console.log("data from form:", data);
   
    
    console.log("create update check id",data.class_id)
    const url = isEditMode ? `{{ URL }}/Classes/${data.class_id}` : '{{ URL }}/Classes/create_class/';
    console.log(url)
    const method = isEditMode ? 'PUT' : 'POST';
    console.log(method)
    fetch(url, {
        method: method,
       
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok.');
        }
        return response.json();
    })
    .then(data => {
       
        if (isEditMode) { 
            const updateData = data["response"];
            const updatedCard = document.querySelector(`#class-id-${updateData.class_id}`);

            // Update the class name in the existing card
            updatedCard.querySelector('.class-name a').textContent = updateData.class_name;
            Swal.fire({
                icon: 'success',
                title: 'Class Updated Successfully!',
                position: 'top-end',
                toast: true,
                showConfirmButton: false,
                timer: 4000,
                padding: '1rem',
                customClass: {
                    title: 'small-title',
                },
            });
            closeNav();
            document.getElementById('AddClass').reset();
            isEditMode = false;
        }
        else {
            const newClassData = data["response"];
            
            Swal.fire({
                icon: 'success',
                title: 'Class added successfully!',
                position: 'top-end',
                toast: true,
                showConfirmButton: false,
                timer: 4000,
                padding: '1rem',
                customClass: {
                    title: 'small-title',
                },
            });
            // Create a new card with the class details
            const newCard = document.createElement('div');
            newCard.classList.add('card-content');
            newCard.id = `class-id-${newClassData.class_id}`;

            newCard.innerHTML = `
                <h1 class="class-name">
                    {% comment %} <a href="{% url 'classinfo' newClassData.slug %}"> {% endcomment %}
                    <a href="#">    
                        ${newClassData.class_name}
                    </a>
                </h1>
                <div class="sub-items">
                    <img src="{% static 'img/teacher.png' %}" class="Classimg">

                </div>
                <div class="action-btn">
                    <a href="#" onclick="EditClass(this)" data-class-id=${newClassData.class_id}>
                        <i class="fas fa-edit EditClass"></i></a>
                    <a href="#" onclick="DeleteClass(this)" data-class-id=${newClassData.class_id}>
                        <i class="fa-solid fa-trash DeleteClass"></i></a>
                </div>
            `;
    
            // Append the new card to the main-content container
            const mainContent = document.querySelector('.main-content');
            mainContent.appendChild(newCard);
    
            closeNav();
            document.getElementById('AddClass').reset();
            isEditMode = false;
        }
    })
    .catch(error => {
        console.log('Upgrade error:', error); 
        
    });
    });


    function EditClass(element){
        event.preventDefault();
    
        console.log("inside edit button");
        
        const classId = element.getAttribute('data-class-id');
        console.log(" each id", classId)
        const url = `{{ URL }}/Classes/class_id/?class_id=${classId}`;

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok.');
            }
            return response.json();
        })
        .then(data => {
            console.log('Data received from API:', data);
            openForm();
            response = data["response"]
            
            document.getElementById("class_id").value = response.class_id;
            document.getElementById("class_name").value = response.class_name;

            isEditMode = true;
        })
        .catch(error => {
            console.log('Fetch error:', error);
        });
    }


    function DeleteClass(element) {
        event.preventDefault();
    
        const class_Id = element.getAttribute('data-class-id');
        
        // Show confirmation dialog using SweetAlert
        Swal.fire({
            title: 'Are you sure you want to delete this Class?',
            text: "This action cannot be undone.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Delete'
        }).then((result) => {
            if (result.isConfirmed) {
                // User confirmed, proceed with deletion
                const url = `{{ URL }}/Classes/${class_Id}`;
    
                fetch(url, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok.');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Data Deleted from API:', data);
    
                        const DeleteCard = document.querySelector(`#class-id-${class_Id}`);
                        if (DeleteCard) {
                            // Remove the deleted card from the DOM
                            DeleteCard.remove();
    
                            // Show success message using SweetAlert
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Class Deleted Successfully',
                                toast: true,
                                showConfirmButton: false,
                                timer: 4000,
                                timerProgressBar: true,
                                customClass: {
                                    popup: 'small-sweetalert',
                                    title: 'small-sweetalert-title',
                                    content: 'small-sweetalert-content'
                                }
                            });
                            isEditMode = true;
                        } else {
                            console.log('Card not found!');
                        }
    
                    })
                    .catch(error => {
                        console.log('Fetch error:', error);
                    });
            }
        });
    }
    
</script>
{% endblock %}