

{% extends "index.html" %}
{% block css %}
    <title>Students</title>
{% endblock css %}
{% block content %}
<div class="student_head">
    <div>
        <p class="heading__primary heading__primary--animation">Students Management</p>
    </div>
    <div>
        <button class="btn btn--create" onclick="openForm('registration')">Register New Student</button>
        <!-- Filter Button -->
        <button class="btn btn--filter" onclick="openForm('filter')">
            <i class="fa-solid fa-filter"></i>Filter</button>
        <!-- Import Button -->
        <button class="btn btn--import" onclick="openForm('import')">
            <i class="fa-solid fa-upload"></i>Import</button>
        <!-- Export Button -->
        <button class="btn btn--export" onclick="openForm('export')">
            <i class="fa-solid fa-download"></i> Export</button>
    </div>
</div>
{% comment %} Registration Form {% endcomment %}
<section class="form-section registration">
    <div class="main-header">
        <h1 class="header-form">Student Registration Form</h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('registration')">&times;</a>
    </div>
    <div class="container">
        <form id="student-form" name="form" class="form" action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}        
            {% comment %} <img src="" alt="" id="student_img"> {% endcomment %}
             <input type="hidden" name="id" id="id">
            <div class="accordion">
                <!-- Basic Details Section -->
                <div class="list">
                    <input type="checkbox" name="accordion" id="first" class="check_accord" checked>
                    <label for="first" class="details" id="label1">Basic Details</label>
                    <div class="contents">
                        <div class="fields">
                            <input type="hidden" name="pk" id="pk">
                            <div class="input-field">
                                <label class="labels">Full Name <span>*</span></label>
                                <input type="text" class="form-input" name="student_name" id="student_name"
                                    placeholder="Enter your Full Name" >
                            </div>
                            <div class="input-field">
                                <label class="labels">Date of Birth</label>
                                <input type="date" class="form-input" name="date_of_birth" id="date_of_birth">
                            </div>

                        </div>
                        <div class="fields">
                            <div class="input-field">
                                <label class="labels">Registration Date <span>*</span></label>
                                <input type="date" class="form-input" name="admission_date" id="admission_date"
                                    >
                            </div>
                            <div class="input-field">
                                <label class="labels">Gender <span>*</span></label>
                                <select name="student_gender" id="student_gender" class="gender-list" >
                                    <option selected disabled>Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="input-field">
                                <label class="labels">Blood Group</label>
                                <select name="blood_group" id="blood_group" class="gender-list">
                                    <option selected>Select Blood Group</option>
                                    <option value="O+">O+</option>
                                    <option value="A+">A+</option>
                                    <option value="B+">B+</option>
                                    <option value="AB+">AB+</option>
                                    <option value="O-">O-</option>
                                    <option value="A-">A-</option>
                                    <option value="B-">B-</option>
                                    <option value="AB-">AB-</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <label class="labels">Photo <span>*</span></label>
                                <input type="file" class="form-input" id="student_photo" accept="image/jpeg,image/jpg"
                                    name="student_photo" >
                            </div>
                            <p class="file-info">(Maximum size for photo is 500 kb.)</p>
                        </div>

                    </div>
                </div>
                <div class="list">
                    <input type="checkbox" name="accordion" id="second" class="check_accord">
                    <label for="second" class="details" id="label1">Contact Details</label>
                    <div class="contents">
                        <div class="fields">

                            <div class="input-field">
                                <label class="labels">Mobile No <span></span></label>
                                <input type="text" class="form-input" name="phone_number" id="phone_number"
                                    maxlength="10" minlength="10" title="Enter valid Number"
                                    oninput="allowOnlyNumbers(this)">
                            </div>
                            <div class="input-field">
                                <label class="labels">Email Id</label>
                                <input type="email" class="form-input" name="email" id="email"
                                    placeholder="Enter Email Address">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <input type="checkbox" name="accordion" id="third" class="check_accord">
                    <label for="third" class="details" id="label1">Address Details</label>
                    <div class="contents">
                        <div class="fields">
                            <div class="input-field">
                                <label class="labels">Address Line <span>*</span></label>
                                <input type="text" class="form-input" name="address"
                                    id="address" placeholder="Enter Address" >
                            </div>
                        </div>
                        <div class="fields">
                            <div class="input-field">
                                <label class="labels">City <span>*</span></label>
                                <input type="text" class="form-input" name="student_city" id="student_city"
                                    placeholder="Enter City" >
                            </div>
                            <div class="input-field">
                                <label class="labels">State <span>*</span></label>
                                <select name="student_state" id="student_state"  class="gender-list">
                                    <option value="AP">Andhra Pradesh</option>
                                    <option value="TS">Telangana</option>
                                    <option value="MH">Maharashtra</option>
                                    <option value="DL">Delhi</option>
                                    <option value="HP">Himachal Pradesh</option>
                                </select>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="input-field">
                                <label class="labels">Country <span>*</span></label>
                                <input type="text" class="form-input" placeholder="Enter Country" type="text"
                                    placeholder="Enter Country " name="student_country" id="student_country" >
                            </div>
                            <div class="input-field">
                                <label class="labels"> Pincode<span>*</span></label>
                                <input type="text" class="form-input" name="student_pincode" id="student_pincode"
                                    placeholder="Enter Pincode" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <input type="checkbox" name="accordion" id="fourth" class="check_accord">
                    <label for="fourth" class="details" id="label1">Parents Details</label>
                    <div class="contents">
                        <div class="fields">
                            <div class="input-field">
                                <label class="labels">Full Name <span>*</span></label>
                                <input type="text" class="form-input" placeholder="Enter FullName" id="parent_name"
                                    class="form-control" name="parent_name" >
                            </div>
                            <div class="input-field">
                                <label class="labels">Relation With Student <span>*</span></label>
                                <select name="relation_with_student" id="relation_with_student" class="gender-list">
                                    <option value="father">Father</option>
                                    <option value="mother">Mother</option>
                                    <option value="gurdian">Gurdian</option>
                                </select>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="input-field">
                                <label class="labels">Mobile No</label>
                                <input type="text" class="form-input" placeholder="Enter Mobile No "
                                    name="parent_phone" id="parent_phone" minlength="10" maxlength="10">
                            </div>
                            <div class="input-field">
                                <label class="labels"> Email Id <span></span></label>
                                <input type="email" class="form-input" placeholder="Enter Email Address"
                                    name="parent_email" id="parent_email">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="list">
                    <input type="checkbox" name="accordion" id="fifth" class="check_accord"> 
                    <label for="fifth" class="details" id="label1">Class</label>
                    <div class="contents">
                        <div class="fields">
                            <div class="input-field">
                                <label class="labels">Class <span>*</span></label>
                                <select name="class_id" id="class_id" class="gender-list" >
                                    
                                </select>
                            </div>
                            <div class="input-field">
                                <label class="labels">Section<span>*</span></label>
                                <select name="section_id" id="section_id" class="gender-list" >
                                    
                                </select>
                            </div>

                        </div>

                    </div>
                </div>
                {% comment %} <div class="list">
                    <input type="checkbox" name="accordion" id="six" class="check_accord">
                    <label for="six" class="details" id="label1">Transportation</label>
                    <div class="contents">
                        <div class="fields">
                            <div class="input-field">
                                <label class="form-label">Route Name</label>
                                <select name="transport_id" id="transport_id" class="gender-list">
                                    <option>Gachibowli</option>
                                    <option>Gachibowli</option>
                                    <option>Gachibowli</option>
                                    <option>Gachibowli</option>
                                    <option>Gachibowli</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <label class="labels">Pickup Point</label>
                                <input type="text" class="form-input">
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                <div class="list">
                    <input type="checkbox" name="accordion" id="seven" class="check_accord">
                    <label for="seven" class="details" id="label1">Documents</label>
                    <div class="contents">
                        <div class="fields">
                            <div class="input-field">
                                <label class="labels">Document Name</label>
                                <input type="text" name="document_name" class="form-input">
                            </div>
                            <div class="input-field">
                                <label class="labels">File Path</label>
                                <input type="file" id="document_attachment" class="form-input"
                                    name="document_attachment">
                            </div>
                            <p class="file-info">(Maximum size for document is 3 MB.)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sticky">
                <a onclick="closeNav('registration')" class="btn btn--cancel"><label>Cancel</label> </a>
                <button class="btn btn--save" type="submit">Save</button>
            </div>
        </form>
    </div>
</section>

{% comment %} Fiter {% endcomment %}

<section class="form-section filter">
    <div class="main-header">
        <h1 class="header-form">Filter Students</h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('filter')">&times;</a>
    </div>
    <div class="container">
        <form id="transactionForm" method="POST" enctype="multipart/formdata" action="#" class="form">
            <div class="contents" id="form-field">
                <div class="fields">
                    <div class="input-field">
                        <label class="labels">Class <span>*</span></label>
                        <select name="fileter_class_name" class="gender-list">
                            <option value="all" selected>All</option>
                            <option>Class 1</option>
                            <option>Class 2</option>
                            <option>Class 3</option>
                            <option>Class 4</option>
                            <option>Class 5</option>
                            <option>Class 6</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="input-field">
                        <label class="labels">Section<span>*</span></label>
                        <select name="section" class="gender-list">
                            <option>Section-A</option>
                            <option>Section-B</option>
                            <option>Section-C</option>
                            <option>Section-D</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="sticky">
                <a onclick="closeNav('filter')" class="btn btn--cancel"><span>Cancel</span></a>
                <button type="submit" class="btn btn--save"><span>Submit</span></button>
            </div>
        </form>
    </div>
</section>

{% comment %} Export {% endcomment %}

<section class="form-section export">
    <div class="main-header">
       <h1 class="header-form">Export Students in bulk</h1>
       <a href="javascript:void(0)" class="closebtn" onclick="closeNav('export')">&times;</a>
     </div>
     <div class="container">
        <div class="img-field">
            <img src="https://cdn-icons-png.flaticon.com/512/6133/6133884.png" height="70px">
          </div>
          <form action="#" id="studentExportXl" method="POST" enctype="multipart/form-data" class="form">
              <div class="input-field">
                  <label class="labels">Class <span>*</span></label>
                  <select name="export_class_id"  name="export_class_id" class="gender-list" style="width:111px;">
                      <option value="all" selected>All</option> 
                     <option>Class 1</option>
                     <option>Class 2</option>
                     <option>Class 3</option>
                     <option>Class 4</option>
                     <option>Class 5</option>
                     <option>Class 6</option>
                  </select>
              </div>
            <div class="sticky upload">
              <a onclick="closeNav('export')" class="btn btn--cancel"><label>Cancel</label> </a>
              <button class="btn btn--save" type="submit">Upload</button>
            </div>
          </form>
     </div>   
</section>

{% comment %} Import {% endcomment %}

<section class="form-section import">
    <div class="main-header">
       <h1 class="header-form">Import Students in bulk</h1>
       <a href="javascript:void(0)" class="closebtn" onclick="closeNav('import')">&times;</a>
     </div>
     <div class="container">
     <div class="img-field">
        <img src="https://cdn-icons-png.flaticon.com/512/6133/6133884.png" height="70px">
      </div>
      <div class="input-field addfile">
        <input type="file" id="fileInput">
        <label for="fileInput" id="fileInputLabel">
          <span class="sp1">Download Sample file</span> <br> Put your
          existing Students in the specific format and upload below.</label>
      </div>
      <form method="POST" enctype="multipart/form-data" id="studentFormXl" class="form">
        <div class="input-box">
          <label>Upload CSV File </label>
          <br/>
          <input type="file" class="files" name="fileXl">
        </div>
        <div class="sticky upload">
          <a onclick="closeNav('import')" class="btn btn--cancel"><label>Cancel</label> </a>
          <button class="btn btn--save" type="submit">Upload</button>
        </div>
      </form>
     </div>
</section>

<script>
    // Function to close the form section
    function closeNav(formClass) {
        console.log("done");
        document.querySelector("." + formClass).classList.remove("form-show");
    }

    // Function to open the form section
    function openForm(formClass) {
        document.querySelector("." + formClass).classList.add("form-show");
    }
</script>

<div>
    <table class="tbl">
        <th>S.No</th>
        <th>Student Name</th>
        <th>Roll Number</th>
        <th>class</th>
        <th>Section</th>
        <th>Gender</th>
        <th>Blood Group</th>
        <th>Action</th>

        <tbody class="tbl__bdy">
            {% for student in student_data %}
            <tr class="tr-student-{{student.student_id}}">
                <td>{{forloop.counter}}</td>
                <td class="student_name">{{ student.student_name }}</td>
                <td class="roll_number">{{ student.roll_number }}</td>
                <td class="class_name">{{ student.class_name }}</td>
                <td class="section_name">{{ student.section_name }}</td>
                <td class="gender">{{ student.gender }}</td>
                <td class="blood_group">{{ student.blood_group }}</td>
                <td>
                    <a href="#" onclick="EditButton(this)" data-id="{{student.student_id}}">
                        <i class="fa-sharp fa-solid fa-pen"></i>
                    </a>
                    <a href="#" onclick="DeleteButton(this)" data-id="{{student.student_id}}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- SweetAlert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

// Create & Update For student

let isEditMode = false;
document.getElementById('student-form').addEventListener('submit', function (event) {
    event.preventDefault();

    const formData = new FormData(document.getElementById('student-form'));
    const studentData = {
            "institute_id": 1,
            "student_id" : formData.get("id"),
            "student_name": formData.get("student_name"),
            "gender": formData.get("student_gender"),
            "date_of_birth": formData.get("date_of_birth"),
            "blood_group": formData.get("blood_group"),
            "address": formData.get("address"),
            "phone_number": formData.get("phone_number"),
            "email": formData.get("email"),
            "admission_date": formData.get("admission_date"),
            "roll_number": '1010',
            "photo": "url",
            "slug": formData.get("student_name"),
            "class_id": formData.get("class_id"),
            "section_id": formData.get("section_id"),
            "transport_id": 11,
    };

    console.log("data from 1st api", studentData);
    
    // For Checking Student Create or Update based on Student_id
    const url = isEditMode ? `{{ URL }}/Students/update_student/${studentData.student_id}` : '{{ URL }}/Students/create_student/';
    const method = isEditMode ? 'PUT' : 'POST';

    fetch(url, {
        method: method,
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(studentData),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok.');
        }
        return response.json();
    })
    .then(createdStudentData => {
        // For Student & Parent Updating Details
        if (isEditMode) {
            const updatedParentData = {
                        "parent_phone": formData.get("parent_phone"),
                        "parent_gender": "string",
                        "relation_with_student": formData.get("relation_with_student"),
                        "parent_profession": "string",
                        "student_id": formData.get("id"), 
                        "parent_profile": "string",
                        "parent_name": formData.get("parent_name"),
                        "parent_email": formData.get("parent_email"),
                        "parent_age": "string",
                        "parent_address": "string",
                        "photo": "string"
            };
            fetch(`{{ URL }}Parents/update/${studentData.student_id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(updatedParentData),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok.');
                }
                return response.json();
            })
            .then(updatedParentResponse => {
                console.log('Updated Parent Data:', updatedParentResponse);
                
                const updateData = createdStudentData["response"];
                const tr = document.querySelector(`.tr-student-${updateData["student_id"]}`);
                Swal.fire({
                    icon: 'success',
                    title: 'Student Updated Successfully!',
                    position: 'top-end',
                    toast: true,
                    showConfirmButton: false,
                    timer: 3000,
                    padding: '1rem',
                    customClass: {
                        title: 'small-title',
                    },
                });
                for (const key in updateData) {
                    try {
                        tr.querySelector(`.${key}`).textContent = updateData[key];

                        closeNav('registration');
                        document.getElementById('student-form').reset();
                    } catch (error) {
                        // Handle error if any
                    }
                }
                closeNav('registration');
                document.getElementById('student-form').reset();
                isEditMode = false;


                
            })
            .catch(error => {
                console.error('Error updating parent:', error);
            });
        }
            else {
                console.log("Students data Successful");
                console.log('Response from creating student:', createdStudentData);

                const response = createdStudentData.response; 
                console.log("response",response);
                const tableBody = document.querySelector('.tbl__bdy');
                // const newRow = document.createElement('tr');

                Swal.fire({
                    icon: 'success',
                    title: 'Student Created Successfully!',
                    position: 'top-end',
                    toast: true,
                    showConfirmButton: false,
                    timer: 3000,
                    padding: '1rem',
                    customClass: {
                        title: 'small-title',
                    },
                });
                newRow = `
                <tr class="tr-student-${response.student_id}">
                    <td>${tableBody.children.length + 1}</td>
                    <td class="student_name">${response.student_name}</td>
                    <td class="roll_number">${response.roll_number}</td>
                    <td class="class_name">${response.class_id}</td>
                    <td class="section_name">${response.section_id}</td>
                    <td class="gender">${response.gender}</td>
                    <td class="blood_group">${response.blood_group}</td>
                    <td>
                        <a href="#" onclick="EditButton(this)" data-id="${response.student_id}">
                            <i class="fa-sharp fa-solid fa-pen"></i>
                        </a>
                        <a href="#" onclick="DeleteButton(this)" data-id="${response.student_id}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                `;

                
                tableBody.innerHTML += newRow;
        
                    // Parentssssssss
                    const createdStudentId = createdStudentData.response.student_id;
                    console.log('Created Student ID:', createdStudentId);

                        // Use the created student_id in the payload for creating a parent
                        const parentData = {
                            "parent_phone": formData.get("parent_phone"),
                            "parent_gender": "string",
                            "relation_with_student": formData.get("relation_with_student"),
                            "parent_profession": "string",
                            "student_id": createdStudentId, 
                            "parent_profile": "string",
                            "parent_name": formData.get("parent_name"),
                            "parent_email": formData.get("parent_email"),
                            "parent_age": "string",
                            "parent_address": "string",
                            "photo": "string"
                        };

                        console.log("Parents data",parentData);
                        // Make POST request to create a parent associated with the student
                        fetch('{{ URL }}Parents/add_parent/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(parentData),
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok.');
                            }
                            return response.json();
                        })
                        .then(createdParentData => {
                            console.log('Created Parent Data:', createdParentData);
                            // Further handling of created parent data

                            
                            })
                        .catch(error => {
                            console.error('Error creating parent:', error);
                        });
                        
                
                
                closeNav('registration');
                document.getElementById('student-form').reset();
                
            
            }

                    
                
            })
        .catch(error => {
            console.error('Error creating student:', error);
            
        });
});







// ###############           For Getting data into the Form             ##############
function EditButton(element) {
    event.preventDefault();

    console.log("inside edit button");

    const id = element.getAttribute('data-id');
    console.log("each id", id)

    const studentUrl = `{{ URL }}/Students/get_student/?student_id=${id}`;

    fetch(studentUrl, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok.');
            }
            return response.json();
        })
        .then(data => {
            console.log('Student Data received from API:', data);
            openForm('registration');
            const studentResponse = data["response"];

            
            document.getElementById("id").value = studentResponse.student_id;
            document.getElementById("student_name").value = studentResponse.student_name;
            document.getElementById("student_gender").value = studentResponse.gender;
            document.getElementById("date_of_birth").value = studentResponse.date_of_birth;
            document.getElementById("blood_group").value = studentResponse.blood_group;
            document.getElementById("admission_date").value = studentResponse.admission_date;
            document.getElementById("email").value = studentResponse.email;
            document.getElementById("phone_number").value = studentResponse.phone_number;
            document.getElementById("address").value = studentResponse.address;
            document.getElementById("class_id").value = studentResponse.class_id;
            document.getElementById("section_id").value = studentResponse.section_id;

            const student_id = studentResponse.student_id; 
            console.log("student_id",student_id);
            const parentUrl = `{{ URL }}Parents/parent/student_id?student_id=${student_id}`;

            
            fetch(parentUrl, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(parentResponse => {
                    if (!parentResponse.ok) {
                        throw new Error('Network response for parent was not ok.');
                    }
                    return parentResponse.json();
                })
                .then(parentData => {
                    console.log('Parent Data received from API:', parentData);
                    const parentResponse = parentData["response"];

                    
                    document.getElementById("parent_name").value = parentResponse.parent_name;
                    document.getElementById("relation_with_student").value = parentResponse.relation_with_student;
                    document.getElementById("parent_email").value = parentResponse.parent_email;
                    document.getElementById("parent_phone").value = parentResponse.parent_phone;
                    
                })
                .catch(parentError => {
                    console.log('Fetch error for parent:', parentError);
                });

            isEditMode = true;
        })
        .catch(error => {
            console.log('Fetch error for student:', error);
        });
}



// #############        For Deleting student data              ################

    function DeleteButton(element){

        Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to delete this student data.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {

        event.preventDefault();
   
        console.log("inside Delete button");
       
        const id = element.getAttribute('data-id');
        console.log(" each id", id)
        const url = `{{ URL }}/Students/delete_student/?student_id=${id}`;
    
        
        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok.');
            }
            return response.json();
        })
        .then(data => {
            console.log('Data Deleted from API:', data);
           
            const DeleteRow = document.querySelector(`.tr-student-${id}`);
            if (DeleteRow) {
                DeleteRow.remove();
                Swal.fire({
                    icon: 'success',
                    title: 'Deleted!',
                    text: 'Student data deleted Successfully',
                });
            } else {
                console.log('Row not found in the table');
            }
       
            
        })
        .catch(error => {
            console.log('Fetch error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong while deleting.',
            });
        });
    }
})
    };
</script>





<script>
    document.addEventListener("DOMContentLoaded", () => {
        const URL = "{{URL|escapejs}}";
        const classSelect = document.querySelector("#class_id");
        const sectionSelect = document.querySelector("#section_id");

       function fetchSectionsByClass(classId) {
            const url = `https://gsm-fastapi.azurewebsites.net/Sections/get_sections_by_class/?class_id=1`

            fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok.');
                }
                return response.json();
            })
            .then(data => {
                // Clear previous sections
                sectionSelect.innerHTML = "";

                // Populate sections dropdown with fetched data
                for (const item of data) {
                    const option = document.createElement("option");
                    option.value = item["section_id"];
                    option.innerText = item["section_name"];
                    sectionSelect.appendChild(option);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }


        
        fetch(`{{ URL }}/Classes/get_classes_by_institute/?institite_id=1`)
            .then(response => response.json())
            .then(classes => {
                
                for (const item of classes) {
                    const option = document.createElement("option");
                    option.value = item["class_id"];
                    option.innerText = item["class_name"];
                    classSelect.appendChild(option);
                }

                
                classSelect.addEventListener("change", (event) => {
                    const selectedClassId = event.target.value;
                    fetchSectionsByClass(selectedClassId); 
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

</script>
{% endblock %}