body{
    background-color: #fcf5dc;;
}
@media (min-width: 1024.1px) {
    [data-layout="horizontal"] .container-fluid,[data-layout="horizontal"] .layout-width{
     max-width: 100%;
    }
}
.form_section{
    display: none;
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    /* background-color: #f3eeee70 !important; */
}
.form_div{
    background-color: #ffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.form-control:focus {
    box-shadow: 0 0 0.5rem rgba(81, 203, 238, 1); 
    border-color: rgba(81, 203, 238, 1); 
}
.form-class {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-content {
    flex: 1;
}

.btn-action {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}
#heading-row{
    margin-top: -3.2rem;
}
.table_students{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    overflow:auto !important;
    background-color: #fff !important;
}
.page-content{
    margin-top: 1rem;
}
.organization_name{
    height: 1rem !important;
    color: var(--tb-vertical-menu-bg);
}
.tripledots-dropdown-toggle{
    height: 1.9rem;
    width: 1.9rem;
}
.tripledots-dropdown-toggle::after{
    content: "" !important;
}

/* animation button */
@keyframes btn-shake {
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: translateX(10%);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10%);
    }
}

.btn-shake {
    animation: btn-shake 0.82s;
}
.student_profile{
    margin-top:.2rem;
    height: 9rem;
    width:25%;
    border-radius: 50%;
    object-fit: cover;
}
.parent_profile{
    margin-top:.2rem;
    height: 6rem;
    width:25%;
    border-radius: 50%;
    object-fit: cover;
}

#spinner-element-lg {
    display: none;
}
.spinner-element-lg-overlay {
    position: absolute;
    height:100%;
    width: 100%;
    z-index:1000;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color:rgba(255,255,255,0.5);
    text-align: center;
}
.spinner-element-lg-overlay img{
    margin-top: 25%;
}
 
#spinner-element-sm {
    display: none;
}
.spinner-element-sm-overlay {
    position: absolute;
    height:100%;
    width: 100%;
    z-index:1000;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color:rgba(255,255,255,0.5);
    text-align: center;
}
.spinner-element-sm-overlay img{
    margin-top: 25%;
}

.bus-vehicle{
    height: auto;
    width: 145px;
    max-width: 100%;
}
.transport-data {
    color: black;
    font-size: 1rem;
    margin-left: 28rem;
    margin-top: 2rem;
}
.image {
    margin-right: 5rem; 
}
.no_data_found {
    width: 48rem;
    text-align: center;
    margin-left: 8rem;
}
.transport-details {
    margin-top: 1rem;
}
.info-header{
    text-align: center;
}