{% extends "index.html" %}
{% block content %}
<div class="student_head">
    <div>
        <p class="heading__primary heading__primary--animation">Assigment Management</p>
    </div>
    <div>
        <button class="btn btn--create" onclick="openForm('registration')">Create Assignments</button>

    <!-- Filter Button -->

    <button class="btn btn--filter" onclick="openForm('filter')">
        <i class="fa-solid fa-filter"></i>Filter</button>
    </div>
</div>
<section class="form-section registration">
    <div class="main-header">
        <h1 class="header-form">Create Assignments</h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('registration')">&times;</a>
    </div>
    <div class="container">
        <form class="form">
            <input type="hidden" name="id" id="id">
            <div class="contents" id="form-field">
                <div class="fields">
                    <div class="input-field">
                        <label for="assignment_Date" class="labels">Assignment Date <span style="color: red;">*</span></label>
                        <input type="date" class="form-input" name="assignment_Date" id="assignment_Date" required>
                    </div>

                    <div class="input-field">
                        <label for="assignment_due_date" class="labels">Assignment Due Date<span style="color: red;">*</span></label>
                        <input type="date" class="form-input" name="assignment_due_date" id="assignment_due_date" required>
                    </div>
                </div>

                <div class="fields">
                    <div class="input-field">
                        <label for="assignment_title" class="labels">Assignment Title<span style="color: red;">*</span></label>
                        <input type="text" class="form-input" name="assignment_title" id="assignment_title" required>
                    </div>
                </div>

                <div class="fields">
                    <div class="input-field">
                        <label for="assignment_details" class="labels">Assignment Details <span style="color: red;">*</span></label>
                        <textarea name="assignment_details" class="text-field" id="assignment_details" rows="5" placeholder="Enter Description" required></textarea>
                    </div>
                </div>

                <div class="fields">
                    <div class="input-field">
                        <label class="labels">Class <span>*</span></label>
                        <select name="class_id" id="class_id" class="gender-list" required>
                            <option>Class 1</option>
                            <option>Class 2</option>
                            <option>Class 3</option>
                            <option>Class 4</option>
                            <option>Class 5</option>
                            <option>Class 6</option>
                            <option>Class 7</option>
                        </select>
                    </div>
                    </div>
                    <div class="fields">
                    <div class="input-field">
                        <label class="labels">Section<span>*</span></label>
                        <select name="section" class="gender-list" required>
                            <option>Section A</option>
                            <option>Section B</option>
                            <option>Section C</option>
                            <option>Section D</option>
                        </select>
                    </div>
                </div>

                <div class="fields">
                    <div class="input-field">
                        <label class="labels">Any Specific Student ?</label>
                        <ol id="box" class="box"></ol>
                        <input type="text" class="form-input" id="text" placeholder="Enter Student Name">
                        <div>
                            <button type="button" class="add-more" id="btnClick" onclick="addMore()">Add Student</button>
                        </div>
                        <span id="error"></span>
                    </div>
                </div>
            </div>

            <div class="sticky">
                <a onclick="closeNav('registration')" class="btn btn--cancel"><span>Cancel</span></a>
                <button type="submit" class="btn btn--save"><span>Save</span></button>
            </div>
        </form>
    </div>
</section>
{% comment %} Fiter {% endcomment %}

<section class="form-section filter">
    <div class="main-header">
        <h1 class="header-form"></h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('filter')">&times;</a>
    </div>
    <div class="container">
        <form id="transactionForm" method="POST" enctype="multipart/formdata" action="#" class="form">
            <div class="contents" id="form-field">
                <div class="fields">
                    <div class="input-field">
                        <label class="labels">Class <span>*</span></label>
                        <select name="fileter_class_name" class="gender-list">
                            <option value="all" selected>All</option>
                            <option>Class 1</option>
                            <option>Class 2</option>
                            <option>Class 3</option>
                            <option>Class 4</option>
                            <option>Class 5</option>
                            <option>Class 6</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="input-field">
                        <label class="labels">Section<span>*</span></label>
                        <select name="section" class="gender-list">
                            <option>Section-A</option>
                            <option>Section-B</option>
                            <option>Section-C</option>
                            <option>Section-D</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="sticky">
                <a onclick="closeNav('filter')" class="btn btn--cancel"><span>Cancel</span></a>
                <button type="submit" class="btn btn--save"><span>Submit</span></button>
            </div>
        </form>
    </div>
</section>



<script>
    // Function to close the form section
    function closeNav(formClass) {
        console.log("done");
        document.querySelector("." + formClass).classList.remove("form-show");
    }

    // Function to open the form section
    function openForm(formClass) {
        document.querySelector("." + formClass).classList.add("form-show");
    }
</script>

<table class="tbl">
    <thead>
        <tr>
            <th>Assigment Id</th>
            <th>Assigment title</th>
            <th>Assigned To</th>
            <th>Assignment Date</th>
            <th>Assignment Due Date</th>
            <th>Assignment Details</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody class="tbl__bdy">
        <tr>
            <td>1</td>
            <td>Physical Assignments</td>
            <td>class 1</td>
            <td>12-03-2022</td>
            <td>20-3-2023</td>
            <td>
                <button class="btn-view openBtn" onclick="openForm('view')">View</button>
            </td>
            <td>
                <i class="fa-sharp fa-solid fa-pen"></i>

                <i class="fa-solid fa-trash"></i>

            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>science</td>
            <td>class 2</td>
            <td>23-5-2023</td>
            <td>30-5-2023</td>
            <td>
                <button class="btn-view openBtn" onclick="openForm('view')">View</button>
            </td>
            <td>
                <i class="fa-sharp fa-solid fa-pen"></i>

                <i class="fa-solid fa-trash"></i>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>social</td>
            <td>class 3</td>
            <td>13-6-2023</td>
            <td>25-7-2023</td>
            <td>
                <button class="btn-view openBtn" onclick="openForm('view')">View</button>
            </td>
            <td>
                <i class="fa-sharp fa-solid fa-pen"></i>

                <i class="fa-solid fa-trash"></i>
            </td>
        </tr>

    </tbody>
</table>
</section>
{% comment %} view button {% endcomment %}
<section class="form-section view">
    <div class="main-header">
        <h1 class="header-form">Assignment Details</h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('view')">&times;</a>
    </div>
    <div class="container">
        <form id="transactionForm" method="POST" enctype="multipart/formdata" action="#" class="form">
            <p>physics</p>
        </form>
    </div>
</section>
{% endblock %}