{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link href="{% static 'lib-css/bootstrap.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib-js/jquery.min.js' %}"></script>

    <link href="{% static 'app-css/common.css' %}" rel="stylesheet"/>
    <script src="{% static 'app-js/common.js' %}"></script>
</head>
<body>
    <div id="header">
        <h1>I am Top Bar</h1>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <h2>I am Footer</h2>
    </div>
</body>
</html>