{% extends '_layout.html' %}
{% load static %}
{% block title %} Assignment Management {% endblock %}

{% block content %}
<link href="{% static 'app-css/assignments.css' %}" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    
<div class="row" id="heading-row">
    <div class="col-sm-12 col-md-5 col-xl-8" style="padding: 1rem">
        <div>
        <h5>Assignments</h5>
        </div>
    </div>
    <div class="col-sm-12 col-md-7 col-xl-4" style="padding: 1rem">
        <div class="row">
            <div class="col text-end">
                <a class="btn btn-success rounded-pill" onclick="openForm()"><i class="bi bi-plus-circle me-2"></i> Create Assignment</a>
            </div>
        </div>
    </div>
</div>

<section class="form_section bg-grey" id="assignmentForm">
    <article class="container-fluid">
        <div class="row">
            <div class="col-xl-8"></div>
            <div class="col-xl-4 form_div">
                <div class="row">
                    <div class="col-xl-6">
                        <h4>Create Assignment</h4>
                    </div>
                    <div class="col-xl-6 text-end">
                        <a class="btn-close" onclick="closeForm()" aria-label="Close"></a>
                    </div>
                </div>
                    <form class="row g-2" id="assignment-form"  method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="id" name="id">
                        <div class="col-md-12">
                            <label class="form-label" for="assignment_Date">Assignment Date<span style="color: red;">*</span></label>
                            <input type="date" class="form-control" id="assignment_Date" name="assignment_Date">
                        </div>
                        <div class="col-md-12">
                            <label for="assignment_due_date" class="form-label">Assignment Due Date <span style="color: red;">*</span></label>
                            <input type="date" class="form-control" id="assignment_due_date" name="assignment_due_date">
                        </div>
                        <div class="col-md-12">
                            <label for="assignment_title" class="form-label">Assignment Title<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="assignment_title" name="assignment_title">
                        </div>
                        <div class="col-md-12">
                            <label for="inputCity" class="form-label">Assignment Details  <span style="color: red;">*</span></label>
                            <textarea class="form-control" id="assignment_details" name="assignment_details" placeholder="Enter Description"></textarea>
                        </div>

                        <div class="col-md-6">
                            <label for="class_id" class="form-label">Class</label>
                            <select id="class_id" class="form-select" name="class_id"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="section_id" class="form-label">Section</label>
                            <select id="section_id" class="form-select" name="section_id" ></select>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Any Specific Student ?</label>
                            
                            <ol id="box" class="box"></ol>
                            <input type="text" class="form-control" id="text" placeholder="Enter Student Name">
                        </div>
                        <div class='col-md-6'>
                                <button type="button" class="add-more" id="add-student" onclick="addMore()">Add Student</button>
                            <span id="error"></span>
                        </div>
                        <div class="col-md-12  btn-action">
                            <div class="d-flex justify-content-end" style="margin-top:6rem;">
                            <a onclick="closeForm()" class="btn btn-danger rounded-pill" style="margin-right: 10px;">Cancel</a>
                            <button type="submit" class="btn btn-success rounded-pill">Save</button>
                        </div>
                    </div>
                    </form>
            </div>
        </div>
    </article>
</section>

<section data-jwt-tokens="{{ jwt_token }}" id="jwt_card"></section>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-sticky table_students">
            <thead class="thead-dark">
                <tr>
                    <th>S.NO</th>
                    <th>Assigment Title</th>
                    <th>Assigned To</th>
                    <th>Assignment Date</th>
                    <th>Assignment Due Date</th>
                    <th>Assignment Details</th>
                    <th>Action</th>
                </tr>
            </thead>
        
        
            <tbody class='tbl__bdy' id="assignments_details">
                {% for assign in assignment %}
                <tr class="tr-assign-{{assign.id}}">
                    <td>{{forloop.counter}}</td>
                    <td class="assignment_title">{{assign.assignment_title}}</td>
                    <td class="class_id">{{assign.class_id}}-{{assign.section_id}}</td>
                    <td class="assignment_Date">{{assign.assignment_Date}}</td>
                    <td class="assignment_due_date">{{assign.assignment_due_date}}</td>
                    <td>
                        <button  class="btn btn-sm btn-dark  rounded-pill openBtn" onclick="openAssignmentDetails('assignmentviewForm', '{{assign.assignment_details}}')">View </button>
                    </td>
                    <td>
                        <a type="button" class="btn btn-sm btn-info" onclick="EditButton(this)" data-id="{{assign.id}}">
                            <i class="bi bi-pencil-square"></i></a>
                        <a type="button" class="btn btn-sm btn-danger" onclick="DeleteButton(this)" data-id="{{assign.id}}">
                            <i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                {% endfor %}
    </tbody>
  </table>
  </div>
  </div>



  <section class="form_section bg-grey" id="assignmentviewForm">
    <article class="container-fluid">
        <div class="row">
            <div class="col-xl-8"></div>
            <div class="col-xl-4 form_div">
                <div class="row">
                    <div class="col-xl-6">
                        <h4>Assigment Details</h4>
                    </div>
                    <div class="col-xl-6 text-end">
                        <a class="btn-close" onclick="closeAssignmentDetails()" aria-label="Close"></a>
                    </div>
                </div>
                <div id="assignmentDetailsContent"></div>

            </div>
        </div>
    </article>
</section>





  <script src="{% static 'app-js/assignments.js' %}"></script>
{% endblock %}
