{% extends '_layout.html' %}
{% block title %} Classes Management {% endblock %}
{% load static %}
{% block content %}
<link href="{% static 'app-css/classinfo.css' %}" rel="stylesheet" />
<script src="{% static 'app-js/classinfo.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="row" id="heading-row">
  <div class="col-sm-12 col-md-8 col-xl-8" style="padding: 1rem">
    <h5>Classes</h5>
    <quote>In the classroom, every desk holds the promise of a journey into the realms of wisdom and discovery.</quote>
  </div>
  <div class="col-sm-12 col-md-4 col-xl-4" style="padding: 1rem">
    <div class="row">
      <div class="col text-end">
        <button type="button" class="btn btn-success btn-label rounded-pill right" data-bs-toggle="modal"
          data-bs-target="#class_creation_modal">
          <i class="bi bi-plus-circle label-icon align-middle fs-lg ms-2"></i>Create Class</button>
      </div>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-body">
    <div>
      <div class="fields">
        <div class="input-field">
          <!--<label class="labels"><b>Select Class</b></label> -->
          <select class="gender-list filter" name="class" id="class">
            <option selected>Select Class</option>
            <option value="1">Class 1</option>
            <option value="2">Class 2</option>
            <option value="3">Class 3</option>
            <option value="4">Class 4</option>
            <option value="5">Class 5</option>
            <option value="6">Class 6</option>
            <option value="7">Class 7</option>
            <option value="8">Class 8</option>
            <option value="9">Class 9</option>
            <option value="10">Class 10</option>
          </select>
        </div>
        </h5>
      </div>
      <p class="text-muted">Records below are specific to the selected <code>{{class_name}}</code>.</p>
      <ul class="nav nav-pills arrow-navtabs nav-success bg-light mb-3" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#sections" role="tab">
            <span class="d-block d-sm-none"><i class="ti ti-home"></i></span>
            <span class="d-none d-sm-block">Sections</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#subjects" role="tab">
            <span class="d-block d-sm-none"><i class="ti ti-user-circle"></i></span>
            <span class="d-none d-sm-block">Subjects</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#calendar" role="tab">
            <span class="d-block d-sm-none"><i class="ti ti-mail"></i></span>
            <span class="d-none d-sm-block">Calendar</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#students" role="tab">
            <span class="d-block d-sm-none"><i class="ti ti-mail"></i></span>
            <span class="d-none d-sm-block">Students</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#examinations" role="tab">
            <span class="d-block d-sm-none"><i class="ti ti-mail"></i></span>
            <span class="d-none d-sm-block">Examinations</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#gradings" role="tab">
            <span class="d-block d-sm-none"><i class="ti ti-mail"></i></span>
            <span class="d-none d-sm-block">Gradings</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#fees" role="tab">
            <span class="d-block d-sm-none"><i class="ti ti-mail"></i></span>
            <span class="d-none d-sm-block">Fees</span>
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content text-muted">
        <div class="tab-pane active" id="sections" role="tabpanel">
          <h6>List of Sections of this class</h6>
          <div class="mb-0">
            dynamic code goes here
          </div>
        </div>
        <div class="tab-pane" id="subjects" role="tabpanel">
          <h6>List of Subjects of this class</h6>
          <div class="mb-0">
            dynamic code goes here
          </div>
        </div>
        <div class="tab-pane" id="calendar" role="tabpanel">
          <h6>Calendar/Time Table of this class</h6>
          <div class="mb-0">
            dynamic code goes here
          </div>
        </div>
        <div class="tab-pane" id="students" role="tabpanel">
          <h6>List of Students in this class</h6>
          <div class="mb-0">
            dynamic code goes here
          </div>
        </div>
        <div class="tab-pane" id="examinations" role="tabpanel">
          <h6>Past and Upcoming Examinations of this class</h6>
          <div class="mb-0">
            dynamic code goes here
          </div>
        </div>
        <div class="tab-pane" id="gradings" role="tabpanel">
          <h6>Grading configuration of this class</h6>
          <div class="mb-0">
            dynamic code goes here
          </div>
        </div>
        <div class="tab-pane" id="fees" role="tabpanel">
          <h6>Fees structure configuration of this class</h6>
          <div class="mb-0">
            dynamic code goes here
          </div>
        </div>
      </div>
    </div><!-- end card-body -->
  </div><!-- end card -->
</div>
  {% endblock %}