{% extends '_layout.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'app-css/dashboard.css' %}">
    <!-- First Section - Student Count, Teacher Count, Total Earnings -->
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card cards">
                <img src="{% static 'img/students.jpg' %}" alt="" class="card-img-right dh__img"> 
                <div class="card-body cards-body">
                    <h5 class="card-title">Students</h5>
                    <p class="card-text">1000</p>
                </div>
            </div>            
        </div>
        <div class="col-md-3">
            <div class="card cards">
                <img src="{% static 'img/teacher.png' %}" alt="" class="card-img-right dh__img"> 
                <div class="card-body cards-body">
                    <h5 class="card-title">Teachers</h5>
                    <p class="card-text">1000</p>
                </div>
            </div> 
        </div>
        <div class="col-md-3">
            <div class="card cards">
                <img src="{% static 'img/accounting.png' %}" alt="" class="card-img-right dh__img"> 
                <div class="card-body cards-body">
                    <h5 class="card-title">Expenditure</h5>
                    <p class="card-text">1000</p>
                </div>
            </div> 
        </div>
        <div class="col-md-3">
            <div class="card cards">
                <img src="{% static 'img/accounting.png' %}" alt="" class="card-img-right dh__img"> 
                <div class="card-body cards-body">
                    <h5 class="card-title">Expenditure</h5>
                    <p class="card-text">1000</p>
                </div>
            </div> 
        </div>
    </div>
    
    <!-- Second Section - Expenditure Bar and Social Media Followers -->
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Expenditure</h5>
                    <!-- Add a calendar here (you may use FullCalendar or any other calendar library) -->
                    <canvas id="myChart" style="width:100%;max-width:700px"></canvas> 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Expenditure</h5>
                    <!-- Add a calendar here (you may use FullCalendar or any other calendar library) -->
                    <canvas id="myChart2" style="width:100%;max-width:700px"></canvas> 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Monthly Calendar</h5>
                    <!-- Add a calendar here (you may use FullCalendar or any other calendar library) -->
                    <div id="calendar"></div> 
                </div>
            </div>
        </div>
        <div class="col-md-6">
        </div>
        
    </div>
    
    <!-- Third Section - Monthly Calendar, Holidays, Notices, Activities -->
    
<!-- Chart.js or other charting library for the expenditure chart -->
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script> 
<!-- jqurylink -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>

    <script>
        const xValues = ['Collections','Expenses','Fee'];
        const yValues = [100,50,40];
        const barColors = ['#596FB7', '#00aba9','#687EFF'];

        new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                backgroundColor: barColors,
                data: yValues
                }]
            }
        });

    
    // Initialize FullCalendar
    var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
            
        });
        calendar.render();
</script>
{% endblock %}
