{% extends '_layout.html' %} 
{% block title %} Staff Selection {% endblock %} 
{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static 'app-css/staff_info.css' %}" />
<script src="{% static 'app-js/staffInfo.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="row" id="heading-row">
    <div class="col-sm-12 col-md-9 col-xl-12 d-flex align-items-center" style="padding: 1rem">
        <a href="{% url 'staffs' %}">
            <i class="bi bi-arrow-left" style="font-size:1.5rem;"></i>
        </a>
        <div class="mx-2">
            <h5>Staff Information</h5>
            <quote>Teachers illuminate the path to knowledge, guiding minds to brilliance with each lesson they share.</quote>
        </div>
        <div class="ms-auto">
          <a href="{% url 'edit_staff' staff_slug %}" data-id="{{ staff_data.staff_id }}"
              class="btnStaffEdit btn btn-sm btn-info">
              <i class="bi bi-pencil-square"></i>
          </a>
          <a href="#" data-id="{{ staff_data.staff_id }}" onClick="deleteStaff(this)" class="dltBtn btn btn-sm btn-danger">
              <i class="bi bi-trash3"></i>
          </a>
      </div>

      </div>
    <input type="hidden" id="staffInfo" value='{"staffId":{{staff_data.staff_id}}}'/>
    <div class="col-xl-3 col-lg-3 col-md-12 ">          
    <div class="card">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card-head text-center">
                <img src="{{staff_data.photo}}" alt="" srcset="" class="card-img-top student-profile">
                <p class="card-title h2 mt-2">{{staff_data.staff_name}}</p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card-body row">
                <!-- Adjusted grid classes -->
                <div class="col-md-12 col-sm-12 ">
                    <p class="card-title">
                        <span class="d-block">
                            Employee ID
                        </span>
                        <span class="d-block txt-color">
                            {{staff_data.employee_id}}
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card-footer">
                <table class="table table-borderless">
                    <!-- Adjusted grid classes for the table content -->
                    <tr>
                        <td class="">
                            <span class="d-block">
                                {% if staff_data.gender == 'Male' %}
                                <i class="bi bi-gender-male"></i>
                                {% else %}
                                <i class="bi bi-gender-female"></i>
                                {% endif %}
                                <span class="txt-color">
                                    {{staff_data.gender}}
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="">
                            <span class="d-block"><i class="bi bi-gift mx-1"></i>
                                <span class="txt-color">
                                    {{staff_data.date_of_birth}}
                                </span>
                            </span>
                           
                        </td>
                    </tr>
                    <tr>
                        <td class="">
                            <span class="d-block">
                                <i class="bi bi-telephone-fill mx-1"></i>
                                <span class="txt-color">
                                    {{staff_data.phone_number}}
                                </span>
                            </span>
                           
                        </td>
                    </tr>
                    <tr>
                        <td class="">
                            <span class="d-block">
                                <i class="bi bi-envelope mx-1"></i>
                                <span class="txt-color">{{staff_data.email}}</span>
                            </span>
                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="d-block">
                                <i class="bi bi-heart-pulse mx-1"></i>
                                <span class="txt-color">{{staff_data.blood_group}}</span>
                            </span>
                           
                        </td>
                    </tr>
                    <tr>
                        <td class="w-50">
                            <span class="d-block">
                                <i class="bi bi-geo-alt-fill mx-1"></i>
                                <span class="txt-color">{{staff_data.address}}</span>
                            </span>
                           
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
 
    </div>
 


  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <div>
          <!-- tablinks -->
          <ul
            class="nav nav-pills arrow-navtabs nav-success bg-light mb-3"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                data-bs-toggle="tab"
                href="#Calendar"
                role="tab"
              >
                <span class="d-block d-sm-none"
                  ><i class="ti ti-home"></i
                ></span>
                <span class="d-none d-sm-block">Calendar</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#attendance" role="tab">
                <span class="d-block d-sm-none"
                  ><i class="ti ti-user-circle"></i
                ></span>
                <span class="d-none d-sm-block">Attendace</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="tab"
                href="#payroll"
                role="tab"
              >
                <span class="d-block d-sm-none"
                  ><i class="ti ti-mail"></i
                ></span>
                <span class="d-none d-sm-block">Payroll</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="tab"
                href="#students"
                role="tab"
              >
                <span class="d-block d-sm-none"
                  ><i class="ti ti-mail"></i
                ></span>
                <span class="d-none d-sm-block">Transportation</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="tab"
                href="#documents"
                role="tab"
              >
                <span class="d-block d-sm-none"
                  ><i class="ti ti-mail"></i
                ></span>
                <span class="d-none d-sm-block">Documents</span>
              </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content text-muted">
            <div class="tab-pane active" id="Calendar" role="tabpanel">
              <h6>Calendar</h6>
                  <quote>The class timetable: a symphony of learning, where every subject has its moment and knowledge finds its rhythm.</quote>
              <div class="row">
                <div class="text-center" id="tabCalender">
                  <div class="container">
                    <table class="styled-table" id="calenderTable">

                    </table>
                  </div>
                  <img src="/assets/img/no_data_found.png" class="no_data_found">
                </div>     
              </div>
            </div> 
            {% comment %} Attendance Tab {% endcomment %}
            <div class="tab-pane" id="attendance" role="tabpanel">
                  <h6>Attendance</h6>
                  <qoute>Consistent attendance breeds achievement.</qoute>
                  <div class="mb-0 my-3">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="row">
                                  <div class="col-md-6 col-sm-12">
                                      <table id="attendanceTable" class="table table-striped table-hover table-sticky table_students table-center">
                                          <thead class="thead-dark">
                                              <tr>
                                                  <th>Date</th>
                                                  <th>Status</th>
                                              </tr>
                                          </thead>
                                          <tbody class='attendanceTbody' id="attendance_data">
                                              
                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="col-md-6 col-sm-12">
                                      <div class="d-flex justify-content-center">
                                          <canvas id="staffPieChart" class=""></canvas>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            <div class="tab-pane" id="payroll" role="tabpanel">
              <div class="row">
                <div class="col-md-6">
                    <h6>Payroll</h6>
                    <quote>An investment in knowledge pays the best interest</quote>
                </div>
                <div class="col-md-6">
                    <button type="button"  data-bs-toggle="modal"
                        data-bs-target="#payroll_form" class="btn btn-success btn-label rounded-pill right float-end">
                        <i class="bi bi-plus-circle label-icon align-middle fs-lg ms-2"></i>Add Payroll</button>
                </div>
                
                <div class="row mx-0 my-2" id="parentRow">
                    <table class="table table-striped table-hover table-sticky" id="staffPayroll">
                      <thead class="thead-dark">
                        <tr>
                          <th>Date Of Payment </th>
                          <th>Employement Type</th>
                          <th>Salary</th>
                          <th>Payment Mode</th>
                          <th>Transaction Details</th>
                          <th>Action</th>
              
                        </tr>
                      </thead>
                      
                      <tbody class="tbl__bdy" id="payroll_detail">
                        
                          {% for payroll in payroll_data %}
                          <tr class="tr-payroll-{{payroll.payroll_id}}">
                            <td class="payment_date">{{payroll.payment_date}}</td>
                            <td class="payroll_type">{{payroll.payroll_type}}</td>
                            <td class="salary_amount">{{payroll.salary_amount}}</td>
                            <td class="payment_mode">{{payroll.payment_mode}}</td>
                            <td class="payroll_details">{{payroll.payroll_details}}</td>
                            <td>
                              <a href="#"  data-payroll-id="{{payroll.payroll_id}}"
                                  class="btn btn-sm btn-info" onclick="openPayrollForm(this)">
                                  <i class="bi bi-pencil-square"></i>
                              </a>
                              <a href="#" data-payroll-id="{{payroll.payroll_id}}"
                                  class="dltBtn btn btn-sm btn-danger">
                                  <i class="bi bi-trash3"></i>
                              </a>
                          </td>
                          </tr>
                          {% endfor %} 
                        
                      </tbody>
                    </table>
                </div>
              </div>
            </div>

            {% comment %} Transportation {% endcomment %}
            <div class="tab-pane" id="students" role="tabpanel">
              <div class="mb-0">
                <div class="row">
                  <div class="col-md-6">
                      <h6>Transportation</h6>
                        <quote>In the school bus of knowledge, every journey is a chapter waiting to unfold.</quote>
                  </div>
                  <div class="col-md-12 text-center">
                    {% if transport_data %}
                    <div class="">
                      <div>
                        <img
                          src="{% static 'img/school-bus.png' %}"
                          alt="Profile Image"
                          class="bus-vehicle"
                        />
                      </div>
                      <div class="text-left">
                        <p class="text-dark text-right">
                          Vehicle Number: {{ transport_data.vehicle_number }}
                        </p>
                        <p class="text-dark text-right">
                          Route Name: {{ transport_data.transport_name }}
                        </p>
                        <p class="text-dark text-right">
                          Vehicle Details: {{ transport_data.vehicle_details }}
                        </p>
                      </div>
                    </div>
                    {% else %}
                    <img
                      src="{% static 'img/no_data_found.png' %}"
                      alt="No Image"
                      class="no_data_found"
                    />
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="documents" role="tabpanel">
              <div class="row">
                  <div class="col-md-9">
                      <h6>Documents</h6>
                      <blockquote>The only way to do great work is to love what you do</blockquote>
                  </div>

                  <div class="col-md-3">
                      <button type="button"  data-bs-toggle="modal"
                          data-bs-target="#documentForm" class="btn btn-success btn-label rounded-pill right float-end">
                          <i class="bi bi-plus-circle label-icon align-middle fs-lg ms-2"></i>Add</button>
                  </div>
              </div>
                <div class="mb-0" id="documentDetails">
                    <div class="row" id="documentRow">
                    {% if documents %}
                      {% for docs in documents %}
                        <div class="col-md-4 card-staff-{{docs.document_id}}">
                          
                            <div class="card mb-3">
                                <!-- Display record details here -->
                                <div class="card-body">
                                    <p class="card-title">{{ docs.document_name }}</p>
                                  
                                </div>
                                <div class="card-footer d-flex justify-content-evenly">
                                    <button data-document-id="{{docs.document_id}}" class="btn btn-sm btn-info" onClick="openDocumentForm(this)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button onClick="deleteDocument(this)" data-document-id="{{docs.document_id}}" class="btn btn-sm btn-danger">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                    <a href="/app/azure_download/{{ docs.document_file }}/staff_documents/" data-documentId="${docs.document_id}"  class="btn btn-sm btn-dark">
                                        <i class="bi bi-download"></i>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %}
                      {% else %}
                        <div class="text-center" id="no_data_found">
                            <img src="{% static 'img/no_data_found.png' %}" alt="No Image" class="no_data_found">
                        </div>
                      {% endif %}
                    </div>
                </div>
              </div>
          </div>
            
        </div>
        <!-- end card-body -->
      </div>
      <!-- end card -->
    </div>
  </div>
</div>

<!-- modelform form payroll start -->
<div class="modal fade bs-example-modal-md" id="payroll_form" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" id="payrollFormId">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myMediumModalLabel">
                    Save Payroll</h5>
                <button type="button" class="btn-close btnCloseModel" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" name="staff_id" id="staff_id" value="{{staff_data.staff_id}}">
                    <input type="hidden" name="payroll_id" id="payroll_id" value="">
                    <input type="hidden" name="document_id" id="document_id" value="{{documents.document_id}}">
                    <div class="col-md-12 flex-grow-1 ms-2">
                        <p class="text-muted mb-0">
                            <label class="form-label">Date Of Payment</label>
                            <input type="date" class="form-control" id="payment_date" name="payment_date">
                        </p>
                    </div>
                    
                    <div class="col-md-12 flex-grow-1 ms-2">
                        <p class="text-muted mb-0">
                            <label class="form-label">Employee Type</label>
                            <select id="payroll_type" class="form-select" name="payroll_type">
                                <option selected value="">Choose...</option>
                                <option value="Full Time">Full Time</option>
                                <option value="Part Time">Part Time</option>
                                <option value="Contract">Contract</option>
                            </select>
                        </p>
                    </div>
                    <div class="col-md-12 flex-grow-1 ms-2">
                        <p class="text-muted mb-0">
                            <label class="form-label" for="parent_email">Salary Amount</label>
                            <input type="text" class="form-control" id="salary_amount" name="salary_amount">
                        </p>
                    </div>
                    <div class="col-md-12 flex-grow-1 ms-2">
                        <p class="text-muted mb-0">
                            <label class="form-label">Transaction Mode</label>
                            <select class="form-select" name="  " id="payment_mode">
                                <option selected value="">Select Payment Mode</option>
                                <option value="Bank Transfer" {% if payroll_data.payment_mode == 'Bank Transfer'%} selected {% endif %}>Bank Transfer</option>
                                <option value="UPI" {% if payroll_data.payment_mode == 'UPI'%} selected {% endif %}>UPI</option>
                                <option value="Cheque" {% if payroll_data.payment_mode == 'Cheque'%} selected {% endif %}>Cheque</option>
                                <option value="Cash" {% if payroll_data.payment_mode == 'Cash'%} selected {% endif %}>Cash</option>
                                <option value="Demand Draft" {% if payroll_data.payment_mode == 'Demand Draft'%}  {% endif %}>Demand Draft</option>
                                <option value="Other" {% if payroll_data.payment_mode == 'Other'%} selected {% endif %}>Other</option>
                            </select>
                        </p>
                    </div>
                    <div class="col-md-12 flex-grow-1 ms-2">
                        <p class="text-muted mb-0">
                            <label class="form-label">Transaction Details</label>
                            <textarea type="text" class="form-control" id="payroll_details" name="payroll_details"
                                placeholder="Enter Transaction Details Here"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="btn btn-link link-success fw-medium btnCloseModel" data-bs-dismiss="modal"><i
                        class="ri-close-line me-1 align-middle"></i> Close</a>
                <button type="submit" class="btn btn-primary"  id="addPayrollForm">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>
<!-- modelform form payroll end -->


<!-- Document PopModel -->
<div class="modal fade bs-example-modal-lg" id="documentForm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document" id="documentFormId">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="btn-close btnCloseModel" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-label">Document Name</div>
                        <input type="text" class="form-control" placeholder="Document Name" id="document_name" name="document_name">
                    </div>
                    <div class="col-12 my-2">
                        <label for="document_file" class="form-label">Attachment</label>
                        <input type="file" class="form-control" accept="image/jpeg, image/png, image/jpg, .pdf" id="document_file" name="document_file">
                        <p class="form-label my-2">Note:<br class="text-danger">Supported files:.jpeg, .jpg, .png and .pdf<br></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="btn btn-link link-success fw-medium" data-bs-dismiss="modal">
                    <i class="ri-close-line me-1 align-middle btnCloseModel"></i> Close
                </a>
                <button type="submit" class="btn btn-primary" id="btnstaffDocument">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Document PopModel -->
{% endblock %}
