{% extends '_layout.html' %}
{% load static %}
{% block title %} Transport{% endblock %}

{% block content %}
<link href="{% static 'app-css/transport.css' %}" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<div class="row" id="heading-row">
    <div class="col-sm-12 col-md-8 col-xl-8" style="padding: 1rem">
        <h5>Transportation</h5>
        <quote>In the school bus of knowledge, every journey is a chapter waiting to unfold.</quote>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4" style="padding: 1rem">
        <div class="row">
            <div class="col text-end">
      <button type="button" class="btn btn-success btn-label rounded-pill right" data-bs-toggle="modal"
    data-bs-target="#editModal">
    <i class="bi bi-plus-circle label-icon align-middle fs-lg ms-2"></i>Register Vehicle
</button>
            </div>
        </div>

    </div>
</div>

<!--  Small modal example -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="mysmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="transport">
            <div class="modal-header">
                <h5 class="modal-title" id="mysmallModalLabel">Add Transport</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <i class="ri-checkbox-circle-fill text-success"></i>
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <p class="text-muted mb-0">Ensuring that every student's journey to success is paved with accessibility and opportunity.</p>
                    </div>
                </div>
                <div class="d-flex mt-2">
                    <input type="hidden" name="id" id="id">
                    <div class="col-md-12">
                        <label class="form-label">Vehicle Number </label>
                        <input type="text" class="form-control" id="vehicle_number" name="vehicle_number"
                            placeholder=" Enter Vehicle number">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="vehicleDetails" class="form-label">Vehicle Details</label>
                    <textarea class="form-control" id="vehicle_details" name="vehicle_details"
                        placeholder="Driver & Conductor Details"></textarea>
                </div>
                <div class="col-md-12">
                    <label for="register_date" class="form-label">Date of Registation</label>
                    <input type="date" class="form-control" id="register_date" name="register_date">
                </div>
                <div class="col-md-12">
                    <label for="transport_name" class="form-label">Route</label>
                    <input type="text" class="form-control" id="transport_name" name="transport_name"
                        placeholder="Enter Route name">
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="btn btn-link link-success fw-medium" data-bs-dismiss="modal"><i
                    class="ri-close-line me-1 align-middle"></i> Close</a>
                <button type="button" class="btn btn-primary" id="saveBtn" name="saveBtn">Save Transport</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-sticky table_students">
            <thead class="thead-dark">
                <tr>
                    <th>S.NO</th>
                    <th>Vehicle Number</th>
                    <th>Vehicle Details</th>
                    <th>Date of Register</th>
                    <th>Route Name</th>
                    <th>Stoppage</th>
                    <th>Students</th>
                    <th>Staffs</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="tbl__bdy" id="transport_details">
                {% for transport in transportation %}
                <tr class="tr-transport-{{transport.transport_id}}">
                    <td>{{forloop.counter}}</td>
                    <td class="vehicle_number">{{transport.vehicle_number}}</td>
                    <td class="vehicle_details w-25">{{transport.vehicle_details}}</td>
                    <td class="register_date">{{transport.register_date}}</td>
                    <td class="transport_name">{{transport.transport_name}}</td>
                    <td>
                        <button class="btn btn-sm btn-dark rounded-pill" data-bs-toggle="modal"
                            data-bs-target="#stopFormModal"
                            onclick="openstopDetails('stopForm','{{ transport.transport_name }}','{{transport.transport_id}}')"
                            data-id="{{transport.transport_id}}">View</button>
                    </td>
                    <td>
                    <button class="btn btn-sm btn-dark rounded-pill" data-bs-toggle="modal"  data-bs-target="#studentModal" onclick="showStudentDetails(this)" data-trans-id="{{transport.transport_id}}">View</button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-dark rounded-pill" data-bs-toggle="modal"  data-bs-target="#staffModal" onclick="showStaffDetails(this)" data-trans-id="{{transport.transport_id}}">View</button>
                        </td>
                    <td>
                        <button type="button" class="btn  btn-sm btn-info btnEdit" id="btnEdit"
                            data-id="{{transport.transport_id}}">
                            <i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="btn btn-sm btn-danger btndelete" id="deleteButton"
                            data-id="{{transport.transport_id}}">
                            <i class="bi bi-trash3"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<!-- Student form -->

<div class="modal fade" tabindex="-1" id="studentModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content" id="studentformModal">
            <div class="modal-header">
                <h5 class="modal-title">Student Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div class="d-flex gap-2">
                        <input type="text" class="form-control" placeholder="Enter Roll Number" id="roll_number">
                        <button type="button" class="btn btn-success btn-sm rounded-pill" id="trns-std-id" data-transport-id="" onclick="fetchStudentDetails(this)">Assign</button>
                    </div>
                    <div class="mt-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <tr>
                                    <th>Roll Number</th> 
                                    <th>Student Name</th>
                                    <th>Action</th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody id="assignedStudents" class="tbl__bdy">
                            <!-- Table content goes here -->
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- stopage form -->
<div class="modal fade bs-example-modal-sm" id="stopFormModal" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" id="stopFormModalBody">
            <div class="modal-header">
                <h5 class="modal-title" id="mySmallModalLabel">Stoppages in this Route</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
                <div class="modal-body" id="stopForm">
                    <div class="d-flex mt-2">
                        <div class="col-md-12 form-content">
                            <div id="transportNameContent"></div>
                            <input type="hidden" name="stopage_id" id="stopage_id">
                            <label for="stopage" class="details" id="label1">Add Stopages</label>
                            <div class="d-flex gap-2">
                                <input type="text" class="form-control" id="stopage" placeholder="Add stopage">
                                <input type="hidden" value="" id="add-stopage-btn">
                                <button type="button" class="add-stopage-btn btn btn-success" style="height: 2rem;"
                                onclick="addMore(this)"><i class="bi bi-plus-circle"></i></button>
                            </div>
                            <div id="stopagesList">
                                <div class="row mt-2">
                                    <div class="col-md-12 d-flex align-items-center"
                                        id="stopage_id_${stopdata['stop_id']}">
                                        <input type="text" class="form-control" value="hi">
                                        <a href="#" onclick="deleteStoppage(this)"
                                            data-stop-id="${stopdata['stop_id']}"><i class="bi bi-trash3"
                                                style="color: red; padding: 16px;"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>




<!-- Staff Modal -->
<div class="modal fade" tabindex="-1" id="staffModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content" id="staffformModal">
            <div class="modal-header">
                <h5 class="modal-title">Staff Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div class="d-flex gap-2">
                        <input type="text" class="form-control" placeholder="Enter empolyee No" id="employee_id">
                        <button type="button" class="btn btn-success btn-sm rounded-pill" id="trns-staff-id" data-transport-id="" onclick="fetchStaffDetails(this)">Assign</button>
                    </div>
                    <div class="mt-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <tr>
                                    <th>Staff Id</th>
                                    <th>Staff Name</th>
                                    <th>Action</th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody id="assignedStaff" class="tbl__bdy">
                            <!-- Table content goes here -->
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="{% static 'app-js/transport.js' %}"></script>

{% endblock %}